{
  "$schema": "https://json.schemastore.org/prettierrc",
  "arrowParens": "always",
  "bracketSpacing": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": [
    "react",
    "next/*",
    "/public/*",
    "styled-components",
    "@src/app/*",
    "@src/hooks/*",
    "@src/lib/*",
    "@src/components",
    "^./(.*)$"
  ],
  "importOrderSortSpecifiers": true,
  "importOrderSeparation": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": false,
  "printWidth": 90,
  "singleQuote": true,
  "proseWrap": "always"
}
